@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

body{
    user-select: none;
    font-family: 'Rubik', sans-serif;
    background-color: rgb(255, 255, 255);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Header*/

.header{
    z-index: 1;
    top: 0;
    position: sticky;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px 5%;
    background-color: rgb(17, 148, 255);
    color: white;
    box-shadow: 0px 0px 10px black;
    margin-bottom: 20px;
}
#theme_mode{
    outline: 0px solid black;
    background-color: black;
    filter: invert(1);

    border-radius: 10px;
    cursor: pointer;
    height: 70px;
    transition: 0.3s;
}
#theme_mode:hover{
    outline: 2px solid white;
    filter: invert(0);
}
.header_button{
    font-size: 30px;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    text-decoration: none;

    color: black;
    outline: 0px solid white;
    background-color: white;
    transition: all 0.3s;
}
.header_button:hover{
    outline: 2px solid white;
    color: white;
    background-color: black;
}

/*Buttons Grid*/

.buttons_grid{
    font-size: 20px;
    font-weight: 400;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 600px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.button{
    background-color: rgba(17, 148, 255, 0.9);
    color: white;
    border-radius: 10px 10px 0px 0px;
    padding: 10px 20px 10px 20px;
    transition: 0.3s;
    backdrop-filter: grayscale(1);
}
.bg_button{
    background-size: 110%;
    background-position: center;
    cursor: pointer;
    margin: 5px;
    border-radius: 10px;
    transition: 0.3s;
}
.bg_button:hover{
    background-size: 130%;
    outline: 5px solid rgb(14, 108, 185);
}
.bg_button:hover .button{
    background-color: rgb(14, 108, 185);
}

/*Content*/

.content{
    font-weight: 300;
    text-align: justify;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    width: 50%;
    box-shadow: 0px 0px 10px black;
}

/*Footer*/

.footer{
    text-align: center;
    font-size: 15px;
    background-color: rgb(17, 148, 255);
    padding: 10px;
    color: white;
}

/*Responsive Website*/

@media (min-width: 1024px) { 
    .content{
        width: 50%;
    }
    .header{
        font-size: 30px;
        padding: 10px 5%;
    }
    #theme_mode{
        height: 60px;
    }
    .header_button{
        font-size: 25px;
        padding: 17px 17px 17px 17px;
    }
}

@media (max-width: 1024px) and (min-width: 768px) { 
    .content{
        width: 70%;
    }
    .header{
        font-size: 25px;
        padding: 10px 5%;
    }
    #theme_mode{
        height: 60px;
    }
    .header_button{
        font-size: 25px;
        padding: 17px 17px 17px 17px;
    }
}

@media (max-width: 768px) and (min-width: 425px) { 
    .content{
        margin-top: 80px;
        width: 80%;
    }
    .header{
        font-size: 25px;
        padding: 10px 5%;
    }
    #theme_mode{
        height: 60px;
    }
    .header_button{
        font-size: 25px;
        padding: 17px 5px 17px 5px;
    }
    .buttons_grid{
        font-size: 20px;
        grid-template-columns: 1fr;
        height: 660px;
        width: 90%;
    }
    .button{
        height: 100%;
        background-color: rgba(17, 148, 255, 0.7);
        border-radius: 10px;
    }
    .bg_button:hover{
        background-size: 130%;
        outline: 0px solid rgb(14, 108, 185);
    }
    .bg_button{
        text-align: center;
        background-image: none;
        height: 70px;
    }
}

@media (max-width: 425px) { 
    .content{
        margin-top: 40px;
        width: 90%;
    }
    .header{
        font-size: 20px;
        padding: 7px 5%;
    }
    #theme_mode{
        height: 50px;
    }
    .header_button{
        font-size: 20px;
        padding: 13px 6px 13px 6px;
    }
    .buttons_grid{
        font-size: 20px;
        grid-template-columns: 1fr;
        height: 700px;
        width: 90%;
    }
    .button{
        height: 100%;
        background-color: rgba(17, 148, 255, 0.7);
        border-radius: 10px;
    }
    .bg_button:hover{
        background-size: 130%;
        outline: 0px solid rgb(14, 108, 185);
    }
    .bg_button{
        text-align: center;
        height: 70px;
        background-image: none;
    }
} 